<section class="events">
  <ul class="events-list">
    <li class="events-list-event">
      {% for post in site.posts %}
      {% if post.tags contains 'current' %}
      <a class="link" href="{{ post.url}}">
        <h1 class="event--header">Previous <br />
        Exhibition</h1>
          <h2 class="event--title">{{ post.title }}</h2>
          <h3 class="event--date">{{ post.date | date: "%-d %B %Y" }}</h3>
          <h4 class="event--artist">{{ post.artist }}</h4>
        </a>
        {% endif %}
      {% endfor %}
    </li>
    <li class="events-list-event">
      {% for post in site.posts %}
      {% if post.tags contains 'next' %}
      <a class="link" href="{{ post.url}}">
        <h1 class="event--header">Current <br />
        Exhibition</h1>
          <h2 class="event--title">{{ post.title }}</h2>
          <h3 class="event--date">{{ post.date | date: "%-d %B %Y" }}</h3>
          <h4 class="event--artist">{{ post.artist }}</h4>
      </a>
        {% endif %}
      {% endfor %}

    </li>
  </ul>
</section>
