<footer class="site-footer">
  <p class="site-footer-partners">
    <a href="https://lightbox.photo">
      <img src="/assets/images/logo-gallery-black@2x.png" class="lightbox" alt="Lightbox Darkroom and Gallery" />
    </a>
    <a href="http://www.ropes-and-twines.co.uk">
      <img src="/assets/images/logo-ropes.png" class="ropes" alt="Ropes and Twines coffee and wine room" />
    </a>

    </p>
<p class="copyright">
  <span>&copy; {{ site.time | date: '%Y' }}.</span>
  <span>For further info or to get in touch, email <a class="email" href="mailto:{{ site.email }}">{{ site.email }}</a></span>
  <!-- <span>Instagram: <a href="https://www.instagram.com/lightbox_darkroom/">@lightbox_darkroom</a> &amp; <a href="https://www.instagram.com/mcf/">@mcf</a> </span> -->
  <!-- Twitter: <a href="https://twitter.com/mcf">@mcf</a> -->
  </p>

</footer>
